h2 {
text-align: center; 
color: rgb(103, 180, 129); 
  
}
button:hover {
    background-color: rgb(42, 110, 187);
    color: white;
  }
button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    border-radius: 1em;
    width: 50vw;
    margin-left: 17.5em;
}

